
*.dylib

COBOL-Roman-Numerals/RomanNumerals

COBOL-Roman-Numerals/RomanNumeralsTest

COBOL-Reverse-Roman/ReverseRomanTest

COBOL-100-Doors/100Doors

COBOL-Number-Names/IntegerInWordsTest

COBOL-Monty-Hall/MontyHall

COBOL-Friday-The-13th/IsLeapYearTest

COBOL-Mars-Rover/MarsRoverTest

COBOL-Mars-Rover/MarsRover

COBOL-Balanced-Parentheses/BalancedParenthesesTest
